#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  text-align: center;
}

.dark {
  background-color: rgb(35, 35, 35);
  color: white;
}

.dark a {
  color: white;
}

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkmodediv {
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
